<!DOCTYPE html>
<html>
  <head>
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <link id="favicon" href="img/icon.png" rel="icon"/>
    <link href="{{ htmlWebpackPlugin.options.css }}" rel="stylesheet">
    <link rel="stylesheet" href="styles.css"/>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <a href="https://github.com/tannermeans/tabgen">
      <img style="position: absolute; top: 0; right: 0; border: 0;"
            src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67"
            alt="Fork me on GitHub"
            data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>

    <header>
      <h1>Tab Generator</h1>
    </header>

    <section class="instructions">
      <div class="row">
        <div class="column">
          <label for="tabName">Enter the name for the tab:</label>
          <br/>
          <input type="text" id="tabName" value="Astronaut Meetups"/>
          <br/>
          <label for="tabIcon">
            Enter the URL of the icon: <!-- TODO, or the site to pull an icon from:-->
          </label>
          <br/>
          <input type="text" id="tabIcon" value="https://www.nasa.gov/favicon.ico"/>
        </div>
        <div class="column">
          <img src="img/arrow.png" class="arrow" alt="arrow" />
        </div>
        <div class="column">
          <p>Custom tab generated:</p>
          <img src="img/gmail_illuminati_nasa.png" alt="custom tabs" />
        </div>
      </div>
    </section>

    <section class="ticker">
      <div class="row">&nbsp;
        <div class="center">
          <div class="anchor">
            <div>your</div>
            <div class="offset" id="verb">Insult</div>
            <div class="offset" id="noun">IT department.</div>
          </div>
        </div>
      </div>
    </section>

    <section class="reviews">
      <div class="column">
        <h2>Reviews<sup>*</sup></h2>

        <div class="thoughts">
          <div>
            <img src="https://robohash.org/milleniumman3" />
            <p>A++ great tool for making my screenshots subtly VERY awesome. I'm the most
              interesting lady in the office now since everyone thinks I spend my spare
              time looking at gaming websites. My dating pool has increased twofold!</p>
          </div>
          <div>
            <img src="https://robohash.org/cylon" />
            <p>Got promoted after my boss thought I was researching 6-sigma! Thanks TabGen!</p>
          </div>
          <div>
            <img src="https://robohash.org/irongiant" />
            <p>Used TabGen to write out a marriage proposal and, needless to say,
              they didn't say yes. 10/10 would propose with again.</p>
          </div>
          <div>
            <img src="https://robohash.org/bender2" />
            <p>I never realized how nice it was to have compromising websites just a click away,
              just under my coworker Janice's nose. Screw you Janice, your deserts are terrible.</p>
          </div>
          <div>
            <img src="https://robohash.org/wall-e5" />
            <p>Doesn't work, very buggy.</p>
          </div>
          <div>
            <img src="https://robohash.org/android" />
            <p>Great product - I get so much done now that I can leave my facebook session open
              and don't lose the feed scrolling progress cause I have to close it when my
              shift manager walks by. No way dave, that's just another salesforce tab.</p>
          </div>
          <div>
            <img src="https://robohash.org/dalek4" />
            <p>I thought my life couldn't get any better, but now I can disguise my
              fantasy ultimate frisbee roster at work too! Nirvana!</p>
          </div>
          <div>
            <img src="https://robohash.org/terminator" />
            <p>... neat.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="footer">
      <div class="column">
        <p>* Actual things people could say about TabGen!</p>
        <p>Robot reviewers lovingly provided by Robohash.org</p>
        <p>This project was intended for me to check out webpack. Conclusion: It's neat</p>
      </div>
     </section>

    <script type="text/javascript" src="{{ htmlWebpackPlugin.files.js }}"></script>
  </body>
</html>
